<h1>Specific User Board</h1>
<section>
    <h2><%= board.title %></h2>
</section>
<form class="toDoForm" action="/todo/createTodo/<%= board._id %>" method="POST">
    <input type="text" placeholder="Enter Todo Title" name="todoTitle">
    <input type="text" placeholder="Enter Todo Content" name="todoItem">
    <input type="submit" value="Add Item" class="submit">
</form>
<ul>
    <% for(var i = 0; i < todos.length; i ++){ %>
        <li>
            <span><%= todos[i].title %></span> <br>
            <span><%= todos[i].content %></span>
        </li>
    <% } %>
</ul>