<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>KanPlan</title>
</head>
<body>
    <h1>KanPlan Board</h1>
    <div class="kanplan-board">
        <div class="kanplan-column">
            <h2 class="kanplan-column-title">ToDo</h2>
            <div class="kanplan-column-tasks">
            <!--Display tasks here-->
            </div>
            <form class="toDoForm" action="/todos/createTodo" method='POST'>
                <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                <input type="submit" value="Add Item">
            </form>
        </div>

        <div class="kanplan-column">
            <h2 class="kanplan-column-title">Doing</h2>
            <div class="kanplan-column-tasks">
            <!--Display tasks here-->
            </div>
        </div>

        <div class="kanplan-column">
            <h2 class="kanplan-column-title">Done</h2>
            <div class="kanplan-column-tasks">
            <!--Display tasks here-->
            </div>
        </div>
    </div>
    <script src="/public/js/main.js"></script>
</body>
</html>