<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>KanPlan</title>
</head>
<body>
    <nav>
        <ul>
            <li class="nav__logo">KANPLAN</li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
    <main class="home__container">
    <div class="container__text">
        <h1 class="home__title">Kanplan seamlessly integrates your development tasks, and team collaboration into <span>one cohesive experience</span>.</h1>
    
    <p>Kanplan is a powerful kanban website designed specifically for developers, offering a wide range of functionalities similar to Trello and more. With Kanplan, developers can effectively manage their projects, tasks, and workflows in a visual and organized manner.</p>

    <p>Kanplan goes beyond traditional kanban tools by providing additional features tailored to the needs of developers.</p>

    <a class="link__viewboard" href="/todo">view board</a>
</div>
<img class="home__img" src="http://placekitten.com/g/500/350"/>
</main>
    
</body>
</html>