<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>KanPlan</title>
</head>
<body>
    <h1>KanPlan Board</h1>
    <div class="kanplan-board">
        <div class="kanplan-column-todo column">
            <h2 class="kanplan-column-title">ToDo</h2>
            <div class="kanplan-column-tasks">
                <div class="kanplan-column-tasks">
                    <% todos.forEach(el => { %>
                        <li class="todoItem" data-id="<%= el._id %>">
                          <span class="<%= el.status === 'todo' ? 'todo' : 'doing' %>"><%= el.todo %><%= el.title %></span>
                          <i class="fa-solid fa-delete-left" id="del"></i>
                        </li>
                      <% }) %>
                </div>
            </div>
            <form class="toDoForm" action="/todo/createTodo" method='POST'>
                <input type="text" placeholder="Enter Todo Title" name="todoTitle">
                <input type="text" placeholder="Enter Todo Content" name='todoItem'>
                <input type="submit" value="Add Item" class="submit">
            </form>
        </div>

        <div class="kanplan-column-doing column">
            <h2 class="kanplan-column-title">Doing</h2>
            <div class="kanplan-column-tasks">
            <!--Display tasks here-->
            </div>
        </div>

        <div class="kanplan-column-done column">
            <h2 class="kanplan-column-title">Done</h2>
            <div class="kanplan-column-tasks">
            <!--Display tasks here-->
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>