.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login input{
    padding: .5rem;
}

.login a {
    font-weight: 700;
    text-decoration: underline;
}

.login__button{
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}