body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

.background-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

.kanplan-board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.column {
    flex: 1;
    padding: 5px;
    background: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    height: 22.5em;
    /* max-width: 300px; */
}

.kanplan-column-title {
    text-align: center;
}

.kanplan-column-title:hover {
  color: #333;
  text-decoration: underline;
}

.kanplan-column-tasks {
    min-height: 200px;
}

.toDoForm {
    display: flex;
    flex-direction: column;
}

.li-todo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}


.li-todo .icon-container {
    margin-left: auto;
}

.li-todo, .submit{
    cursor: pointer;
}

/* Form styles */
.display-form {
  display: flex;
  justify-content: center;
}

.display-form-button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 12px;
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
  transition: all .5s ease;
}

.display-form-button:hover {
  color: #fff;
  background-color: #56A3A6;
}

.divForForm {
  display: none;
  -webkit-animation-name: animationtransition;
  -webkit-animation-duration: 0.6s;
  animation-name: animationtransition;
  animation-duration: 0.6s;
}

input {
    padding: 5px;
    margin: 2px;
    background-color: #fff;
    border-radius: 6px;
    border: none;
}

input:focus {
  outline: none;
}

.submit {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-size: 13px;
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
}

.submit:hover {
  background-color: #d3d3d3;
}
/*End of form styles */

.fa-solid {
    margin: 1px;
}

.li-todo .icon-container {
    visibility: hidden;
}

.li-todo:hover .icon-container{
    visibility: visible;
}

.li-todo:hover .cover-container{
    height: 30%;

}

/*Cover photo CSS*/
.cover-container {
    width: 36%;
    height: 0;
    margin-right: 10px;
    overflow: hidden;
}

.cover-container img{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}



/* Status Styles */ 
.todo {
  color: #101010;
}

.doing {
  color: #101010;
}

.done {
  text-decoration: line-through;
  color: #101010;
}


/* MODAL BOX STYLES*/
.modal, .col-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    border-radius: 15px;
    -webkit-animation-name: animationtransition;
    -webkit-animation-duration: 0.4s;
    animation-name: animationtransition;
    animation-duration: 0.4s;
}

@-webkit-keyframes animationtransition {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
}
  
@keyframes animationtransition {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
}

  .col-modal>.modal-content {
    width: 70%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
  
.modal-header h3 {
    margin-left: 10px;
}

.modal-cover-photo {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

#change-cover {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 12px;
    font-weight: 800;
    font-family: 'Merriweather Sans', sans-serif;
    transition: all .5s ease;
}

#change-cover:hover {
    color: #fff;
    background-color: #56A3A6;
}

.close-button {
    color: #aaa;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;
    transition: 0.4s ease-out;
}


.close-button:hover,
.close-button:focus {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}



.modal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#edit-title {
    background-color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#edit-title:hover {
    background-color: #EAEAEA;
}

#edit-content {
    background-color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
}

#edit-content:hover{
    background-color: #EAEAEA;
}

#save-button {
    background-color: #FFFFFF;
    color: #333333;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}

  
#save-button:hover {
    background-color: #EAEAEA;
}

.todoItem p {
    display: none;
}


textarea {
    resize: none;
}


/*Colour picker styles */
.colour-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.colour-picker-box {
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav-Menu */

a {
    text-decoration: none;
    color: inherit;
}

.header {
    border-bottom: 1px solid #E2E8F0;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(1.6px);
    -webkit-backdrop-filter: blur(1.6px);
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    align-items: center;
    position: fixed;
    visibility: hidden;
    right: -100%;
    top: -1rem;
    flex-direction: column;
    background: #fff;
    width: 25%;
    min-height: 100vh;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    right: 0;
    padding: 2.35rem 2.5rem;
    visibility: visible;
}

.nav-item {
    margin: 3.5rem 0;
    list-style: none;
}

.nav-item:hover {
    color: #56A3A6;
}

.nav-item:nth-child(1) {
    margin-top: 8rem;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Change background */

.back-button {
    align-self: flex-start;
    font-size: 1.75rem;
    cursor: pointer;
}

.unsplash-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.unsplash-text {
    margin-right: 0.5rem;
}

.unsplash-link {
    margin-left: 0.25rem;
    color: #56A3A6;
    text-decoration: underline;
}

.search-input-background {
    width: 90%;
    height: 1rem;
    margin: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    padding: .5rem;
    border: 1px solid #101010;
    background: #FFF;
}

.button-container {
    display: flex;
    margin-bottom: 2rem;
}

.submit-button,
.reset-button {
    font-family: 'Merriweather Sans', sans-serif;
    padding: 10px 25px;
    /* margin-bottom: 2rem; */
    background-color: #56A3A6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover,
.reset-button:hover {
    transform: scale(.98);
    background-color: #4d9b9d;
}

.reset-button {
    margin-left: 1rem;
}

.photo-grid {
    display: grid;
    grid-gap: 10px;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.photo-grid img {
    width: 100%;
    max-height: auto;
    cursor: pointer;
    border-radius: 2.5px;
}

.photo-container {
    position: relative;
}
  
.photographer-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    margin: auto;
    visibility: hidden;
    text-align: center;
}

.photographer-name a {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .75rem;
    color: #fff;
    text-decoration: underline;
}

.photo-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: filter 0.3s;
}

.photo-container:hover img {
    filter: grayscale(100%);
}

/* Settings Options */
.settings-options {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.settings-options > span {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}

.change-board-button, 
.change-password-button {
    margin: 4rem;
}

.change-board-button:hover,
.change-username-button:hover,
.change-password-button:hover {
    color: #56A3A6;
}
@media screen and (min-width: 768px){
    .column {
        max-width: 300px;
        flex: 1;
    }

    .kanplan-board {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: baseline;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*User Guide*/
.step-by-step {
    list-style-type: none; /* Remove default list style */
    padding: 0;
    max-width: 560px;
    font-family: Arial, sans-serif;
    overflow-x: scroll;
  }
  
  .step {
    display: flex;
    align-items: center;
    padding: 12px 0;
    font-size: 0.8rem;
  }
  
  .step::before {
    content: "•";
    color: #56A3A6;;
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  .step-by-step {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
  }
  
  .step-description {
    flex: 1;
  }

  .step:hover {
    background-color: #f5f5f5;
  }
  
